<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Simulator</title>
  </head>
  <body>
    <div class="button-container">
        <button class="button-1" onclick="location.href='/dev_ui'">
            <span>Developer career</span>
        </button>
        <button class="button-2" onclick="location.href='/team_ui'">
            <span>Company growth</span>
        </button>
      </div>
  </body>
</html>
